backend/node_modules
frontend/node_modules

# Environment files
.env
.env.local
.env.*

# Ignore uploads and generated folders
backend/uploads/
backend/generated/
backend/Dockerfile
docker-compose.yml
frontend/Dockerfile
frontend/nginx.conf
start.sh
Dockerfile